{% load django_bootstrap5 %}
<html>
    <head>
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <meta charset="utf-8" />
    </head>

    <body>
        <nav class="navbar navbar-expand flex-md-row navbar-dark bg-dark">
            <div class="container justify-content-between">
                <a href="/" class="navbar-brand">ダウンロード登録</a>
                <ul class="navbar-nav mr-md-2">
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">ログアウト</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">ログイン</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        {% block content %}
        {% endblock %}
    </body>
</html>